header ul {
  padding-top: 32px;
  margin: 0;
}
header li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.fork-and-edit {
  padding-top: 25px;
}
.search-input {
  -webkit-appearance: none;
  border: 0;
  border-radius: .25em;
  font-family: inherit;
  font-size: 1.25em;
  margin: 2em auto 1em;
  padding: .5em;
  width: 100%;
}

.result {
  margin-bottom: 2em;
}

.result p { margin-bottom: 0; }

.result-img {
  height: 150px;
  margin: 0 2em 0 0;
  object-fit: cover;
  width: 150px;
}
