html {
  overflow-y: scroll;
}
p {
  font-size: 16px;
  line-height: 20px;
}
a {
  color: #f60;
  text-decoration: none;
}
a:hover {
  color: #d60;
  text-decoration: underline;
}
img {
  -moz-box-sizing: border-box;
  border: 0.5em solid white;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
#header {
  height: 60px;
  border-bottom: 1px solid #444;
  margin-bottom: 20px;
  padding: 0 20px;
}
#header #links a {
  color: #f60;
  font-size: 16px;
}
#header #links a:hover {
  color: #d60;
}
#header ul {
  padding: 32px 0;
  margin: 0;
}
#header li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
#header_name {
  color: #444;
  font-size: 48px;
  float: right;
  line-height: 60px;
}
a#header_name:hover {
  text-decoration: none;
}
#content {
  padding: 0 20px;
}
h3.archive_year {
  margin: 0;
  padding: 5px 0;
  color: #999;
}
ol.archive {
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear: both;
}
ol.archive > li {
  margin: 0 0 0 60px;
  padding: 5px 2px;
}
time {
  color: #999;
  display: inline-block;
}
