---
layout: default
---
<article class="h-card">
  <picture class="profile-pic">
    <img width="200" height="200" src="/assets/img/profile-pic.jpg" alt="My profile picture" class="u-photo">
  </picture>
  <p>
    👋 Hi, I'm <span class="p-given-name">Mike</span><span class="p-family-name" hidden>Griffin</span>.
    I live in <span class="p-locality">Castlebar</span>, a town in <span class="p-region">Co Mayo</span>, in the West of <span class="p-country-name">Ireland</span>.
  </p>

  <p>
    I enjoy running and being outdoors.
    I race over a range of distances from 200m to 10km.
  </p>

  <p>
    I work as a Senior Engineer at <a href="https://github.com/mgriffin" rel="me">GitHub</a>, building internal tools for our support team.
    I mostly code in Ruby, but I'm also learning some Golang.
    I started off with PHP and bash scripting.
  </p>

  <p>
    You can email me at <a class="u-email" href="mailto:me@mikegriffin.ie">me@mikegriffin.ie</a>, and also find me on Mastodon at <a href="https://mastodon.ie/@maidhc" rel="me">@maidhc@mastodon.ie</a>
    <a href="https://mikegriffin.ie" class="u-url u-uid" hidden></a>
  </p>
</article>

{% for post in site.posts limit:6 %}
<section class="h-entry">
  <h3>
    <a href="{{ post.url }}" class="u-url p-name">{{ post.title | escape }}</a>
  </h3>
  <a class="p-author h-card" href="/" hidden="">Mike Griffin</a>
  <p><time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.categories != empty %} • {% include category_links.html categories=post.categories %}{% endif %}</p>
  <div class="p-summary">{{ post.excerpt }}</div>
  {% if post.content contains site.excerpt_separator %}
    <p> <a href="{{ post.url | relative_url }}">Read on &rarr;</a> </p>
  {% endif %}
</section>
{% endfor %}
<p>There's more in <a href="blog/">the archives</a>
