:root{
  --sans-font:-apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Nimbus Sans L",Roboto,"Noto Sans","Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
  --mono-font:Consolas,Menlo,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  --bg:#dbcdac;
  --accent-bg:#dda15e;
  --text:#393431;
  --text-light:#706d67;
  --border:#706d67;
  --accent:#c2794e;
  --code:#d81b60;
  --preformatted:#444;
  --marked:#ffdd33;
  --disabled:#efefef;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #393431;
    --accent-bg: #2b2b2b;
    --text: #dbcdac;
    --text-light: #ababab;
    --accent: #ffb300;
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }
}
body>header {
  padding-bottom: 0;
  background-color: var(--bg);
}
body>header h1 a, body>header h1 a:visited {
  text-decoration: none;
  color: var(--text);
}
body>header h1 a, body>header h1 a:hover {
  color: var(--accent);
}
h3>a, h3>a:visited {
  text-decoration: none;
}
h3>a:hover {
  text-decoration: underline;
}
picture img {
  float: right;
  margin-left: 20px;
}
img.screenshot {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid var(--border);
  border-radius: 0.375rem;
  height: auto;
  max-width: 100%;
}
time {
  color: var(--text-light);
}
section {
  border-top: 0;
  margin: 0;
  padding: 0;
}
nav {
  text-align: center;
  border-bottom: 1px solid var(--border);
  grid-column: 1/-1;
  background-color: var(--accent);
}
nav a, nav a:visited {
  color: var(--bg);
}
body>footer {
  margin-top: 1rem;
  grid-column: 1/-1;
}
