---
layout: layout
title: archive
---
<p id="breadcrumb"><a href="{{ site.url }}">Home</a> &raquo; Blog</p>
<h2>Archive</h2>
{% capture post_year1 %}{{ 'now' | date: '%Y' }}{% endcapture %}
<h3 class="archive_year">{{ post_year1 }}</h3>
<ol class="archive">
  {% for post in site.posts %}
  {% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if post_year1 != post_year2 %}
    {% assign post_year1 = post_year2 %}
    </ol>
    <h3 class="archive_year">{{ post_year1 }}</h3>
    <ol class="archive">
  {% endif %}
  <li><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%d %b' }}</time>
  <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ol>
