<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" 
      title="RSS feed for mikegriffin.ie" 
        href="/feed.xml" />
    <link rel="stylesheet" href="/assets/css/simple.min.css">
    <link rel="stylesheet" href="/assets/css/mike.css">
    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
  </head>
  <body>
    <header>
      <h1><a href="/">Mike Griffin</a></h1>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      &copy; Mike Griffin 2022
    </footer>
  </body>
</html>
