---
layout: layout_with_javascript
---
<div id="post">
  <h2>{{ page.title }}</h2>
  <p class="date">{{ page.date | date: '%d %B %Y' }}</p>
</div>
<div id="gallery" class="content" style="display: block;">
  <div id="controls" class="controls"></div>
  <div class="slideshow-container">
    <div id="loading"></div>
    <div id="slideshow" class="slideshow"></div>
  </div>
  <div id="caption" class="caption-container"></div>
</div>
<div id="thumbs" class="span5">
  <ul class="thumbs noscript">
    {{ content }}
  </ul>
</div>
<div style="clear: both;"></div>
