---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.categories != empty %} • {% include category_links.html categories=page.categories %}{% endif %}</p>
  </header>

	<div id="links">
  {% for photo in page.photos %}
  <a href="{{ photo.original }}" title="{{ photo.title }}" data-gallery>
    <img src="{{ photo.thumbnail }}" alt="{{ photo.title }}">
  </a>
  {% endfor %}
  </div>
  <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev" href="javascript:;">‹</a>
    <a class="next" href="javascript:;">›</a>
    <a class="close" href="javascript:;">×</a>
    <a class="play-pause" href="javascript:;"></a>
    <ol class="indicator"></ol>
  </div>
</article>
<script src="/assets/js/blueimp-gallery.min.js"></script>
<script>
document.getElementById('links').onclick = function (event) {
	event = event || window.event;
	var target = event.target || event.srcElement,
	link = target.src ? target.parentNode : target,
	options = {index: link, event: event},
	links = this.getElementsByTagName('a');
	blueimp.Gallery(links, options);
};
</script>
