<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Mike Griffin" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}/css/syntax.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <div id="header">
      <h1><a href="{{ site.url }}">mikegriffin.ie</a></h1>
      <ul id="links">
        <li><a href="{{ site.url }}/blog">archive</a></li>
        <li><a href="{{ site.url }}/about_me">about me</a></li>
      </ul>
    </div>
    <div id="section">
      {{ content }}
    </div>
  </body>
</html>
